[Unit]
Description=Weston
Conflicts=getty@tty1.service
Before=terminal.service

[Service]
RuntimeDirectory=weston
Type=notify
Environment=HOME=/root
Environment=XDG_RUNTIME_DIR=/run/weston
WorkingDirectory=/root
ExecStart=/usr/bin/weston --log=/var/log/weston.log --tty=1 --modules=systemd-notify.so --current-mode
Restart=always

[Install]
WantedBy=graphical.target
