[Unit]
Description=Weston
Conflicts=getty@tty1.service
Before=ui.service
#After=systemd-user-sessions.service getty@tty1.service plymouth-quit.service systemd-logind.service

[Service]
Type=notify
ExecStart=/usr/sbin/start-display-manager
Restart=always

[Install]
WantedBy=graphical.target
