[Unit]
Description=Walbrix UI
Requires=display-manager.service
After=display-manager.service

[Service]
ExecStart=/usr/sbin/start-ui
Restart=always

[Install]
WantedBy=graphical.target
