[Unit]
Description=Walbrix UI
Requires=display-manager.service

[Service]
Environment=XDG_RUNTIME_DIR=/run/weston
ExecStart=/usr/sbin/wb login tty1
Restart=always

[Install]
WantedBy=graphical.target
