[Unit]
Description=Virtual Machine for %I
Requires=scan-volumes.service
After=scan-volumes.service

[Service]
Type=notify
ConditionDirectoryNotEmpty=/var/vm/%I
ExecStart=/usr/sbin/vm %i
KillMode=mixed
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target
