[Unit]
Description=Weston

[Service]
User=weston
Group=users
RuntimeDirectory=weston
RuntimeDirectoryMode=0775
Type=notify
Environment=HOME=/home/weston
Environment=XDG_RUNTIME_DIR=/run/weston
Environment=DBUS_SESSION_BUS_ADDRESS=unix:/run/dbus/system_bus_socket
WorkingDirectory=/home/weston
ExecStart=/usr/bin/run-weston
Restart=always

[Install]
WantedBy=graphical.target
